.food img{
    width:70%;
}

.food{
    border:2px solid burlywood;
    padding:15px;
    border-radius:5px;
}
.container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
}
/* small device --- */
@media only screen and (max-width:576px){
    .food{
        background: purple;
    }
}

/*--- medium device --- */
@media only screen and (min-width:577px) and (max-width:992px){
    .food{
        background: green;
    }
    .container{
        grid-template-columns:repeat(3,1fr);
    }
}

@media screen and (min-width:993px) and (max-width:1300px){
    .container{
        grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .food{
        background: yellow;
    }
}